# Application settings
APP_NAME=Events Aggregator
DEBUG=true

# Database
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/events_aggregator

# Events Provider API
EVENTS_PROVIDER_BASE_URL=http://events-provider.dev-2.python-labs.ru
EVENTS_PROVIDER_API_KEY=your_api_key_here

# Background sync
SYNC_INTERVAL_MINUTES=1440
